/*设置样式全局变量*/
:root{
  --btn-size: 0.75vw;
  --font-size: 1.25vw;
  --ctrl-size: 2vw;
  --theme-color:#39C5BB;
  --white-mask1: rgba(255,255,255,0.2);
  --white-mask2: rgba(255,255,255,0.4);
  --white-mask3: rgba(255,255,255,0.6);
  --white-mask4: rgba(255,255,255,0.8);
  --white-mask5: rgba(255,255,255,1);
  --black-mask1: rgba(0,0,0,0.2);
  --black-mask2: rgba(0,0,0,0.4);
  --black-mask3: rgba(0,0,0,0.6);
  --black-mask4: rgba(0,0,0,0.8);
  --black-mask5: rgba(0,0,0,1);
}

/* 引入antd样式*/
@import '~antd/dist/antd.css';

/*chrome 滚动条样式*/
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--theme-color);
}

/* index.css */
body{
  background-color: var(--theme-color);
}
.theme{
  background-color: var(--theme-color);
}

.theme .layout-header{
  background: var(--white-mask3);
  margin: 0 12%;
  border-radius: 0 0 30px 30px;
  min-width: 720px;
}

.theme .layout-header .ant-breadcrumb{
  color: var(--black-mask4);
}

.theme .layout-header .ant-breadcrumb > span:last-child{
  color: var(--black-mask4);
}

.theme .layout-header .vsinger{
  color: var(--theme-color);
}

.theme .layout-header .vsinger:hover{
  color: var(--theme-color);
}

.theme .layout-content{
  background: transparent;
  margin: 0 18%;
}

.theme .layout-content .showitem {
  min-width: 600px;
}

.theme .layout-content .discshow{
  margin: 5% 0;
  padding: 0 20px;
  height: 30vw;
  min-height: 320px;
  min-width: 150px;
  overflow: hidden;
  border-radius: 20px;
  border: 10px solid transparent;
}

.theme .layout-content .disclist{
  margin: 5% 0;
  padding: 20px;
  height: 30vw;
  min-height: 320px;
  min-width: 150px;
  overflow: hidden;
}

.theme .layout-content .ant-list{
  padding: 20px 0;
  text-align: center;
}

.theme .layout-content .ant-list .ant-list-item{
  border: none;
  padding: 4px 0;
}

.theme .layout-content .ant-list .ant-list-item .ant-btn{
  width: 100%;
  height: 24px;
  padding: 0;
  color: var(--black-mask4);
  background-color: var(--white-mask5);
  border: 2px outset var(--black-mask4);
  margin: auto;
  border-radius: 17px;
}

.theme .layout-content .ant-list .ant-list-item .current{
  color: var(--theme-color);
  border: 2px solid var(--theme-color);
}

.theme .layout-content .ant-list .ant-list-item .musicitem{
  font-size: var(--btn-size);
}

.theme .layout-footer{
  background: var(--white-mask2);
  margin: 0px 18%;
  border-radius: 20px;
  min-width: 600px;
}

.theme .layout-footer .ctrlmenu .ctrlitem{
  font-size: var(--ctrl-size);
  padding: 0 16px;
}

.theme .layout-footer .ant-breadcrumb{
  color: var(--black-mask4);
}

.theme .layout-footer .ant-breadcrumb > span:last-child{
  color: var(--black-mask4);
}

.ctrlslider .ant-slider{
  background-color: var(--white-mask3);
  border-radius: 5px;
}

.ctrlslider .ant-slider .ant-slider-rail{
  background-color: var(--black-mask1);
  border-radius: 5px;
}

.ctrlslider .ant-slider .ant-slider-track{
  background-color: var(--theme-color);
  border-radius: 5px;
}

.ctrlslider .ant-slider .ant-slider-handle{
  background-color: var(--theme-color);
  border: solid 2px var(--white-mask3);
}

.ctrlslider .ant-slider .ant-slider-handle:focus {
  border-color: var(--white-mask4);
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ant-popover .ant-popover-content .ant-popover-arrow{
  border-right-color: var(--white-mask3);
  border-bottom-color: var(--white-mask3);
}

.ant-popover .ant-popover-content .ant-popover-inner{
  background-color: var(--white-mask3);
}