/*设置样式全局变量*/
:root{
    --background-color:#888888;
    --font-color:#888888;
    --font-size-show: 30px;
    --font-size-btn: 18px;
    --color-fire: #EE0000;
    --color-water: #66CCFF;
    --color-thunder: #FFB61E;
    --color-wind: #39C5BB;
    --color-light: #FFFBF0;
    --color-dark: #9999FF;
}

/* 引入antd样式*/
@import '~antd/dist/antd.css';

/*chrome 滚动条样式*/
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--background-color);
}

/* index.css */
body{
  background-color: var(--color-water);
}
.theme{
  background-color: var(--color-water);
}

.theme .showitem {
  margin: 2% 0;
}

.theme .showitem .ant-card{
  border: 10px solid rgba(220,220,220,0.5);
}

.theme .showlist .ant-card{
  margin: auto;
  overflow: hidden;
  text-align: center;
  border-radius: 20px;
  border: 5px solid rgba(220,220,220,0.5);
}

.theme .showlist .rank-0{ padding: 0; }
.theme .showlist .rank-1{ padding: 1%; }
.theme .showlist .rank-2{ padding: 2%; }

.theme .showlist .fontsize{ font-size: 1.25vw; }